{{>header}}
<h1 class="page-Title">Details</h1>
<div class="custom-Line"></div>
 

<div class="product-container" onload="window.scrollTo(0, document.body.scrollHeight);" class="details-Page">

  <div class="details-Container" onclick="navigateHandler(event)">
    <a href="/imagePreview">
    <img class="detailsImg" src={{image}} alt="">

    </a>

  </div>

 <div class="details-Info" >
 <a href="/home" onclick="navigateHandler(event)">
 <button class="custom-Button">Back</button>
 </a>
 <br>
 <br>
 <br>
 <div class="textBig">
 <h2>Title:{{title}}</h2>
 <h3>Description</h3>
    <h4 class="product-Description-Details">{{description}}</h4>
    <h4>Price: {{price}}lv.</h4>


 <h3>{{likes}} likes.</h3>
 <h3>{{quantity}} left.</h3>

 </div>
 <a onclick="addToCart(event)" href="/buy/{{productId}}">
 <button class="custom-Button">Buy</button>
 </a>
{{#if isLogged}}

{{#if isAdmin}}
{{else}}
{{#if isLiked}}
 <a onclick="sendUnlike(event)" href="/unlike/{{productId}}">
 <button class="custom-Button" style="padding-left: 17.5px;
        padding-right: 17.5px;">Unlike</button>
 </a>
 {{else}}
 <a onclick="sendLike(event)" href="/like/{{productId}}">
 <button class="custom-Button">Like</button>
 </a>
{{/if}}
{{/if}}
 <button onclick="showCommentSection(event)" onclick="document.getElementById('comment-Section').scrollIntoView(false);" id="commentsButton" class="custom-Button">{{sectionCondition}} Comments</button>
 {{else}}

<div>
 <a onclick="navigateHandler(event)" href="/login">
 <button class="custom-Button">Like</button>
 </a> 
  <button onclick="showCommentSection(event)" onclick="document.getElementById('comment-Section').scrollIntoView(false);" id="commentsButton" class="custom-Button">{{sectionCondition}} Comments</button>

</div>

 {{/if}}


{{#if isAdmin}}
<div >
 <a onclick="navigateHandler(event)" href="/edit/{{productId}}">
 <button class="custom-Button">Edit</button>
 </a>

 <a onclick="requestDelete(event)" href="/delete/{{productId}}">
 <button class="custom-Button">Delete</button>
 </a>

</div>
 {{/if}}
 </div>
</div>


<div id="comment-Container" style="display:{{displayStyle}}">
<div class="custom-Full-Line"></div>
<h1 class="page-Title">Comments</h1>
<div class="custom-Line"></div>
<div class="comment-Form">
  <section onload="scrollToEnd(event)" id="comment-Section">
{{#each comments}}
<p>
{{profile}}:{{comment}}
</p>
{{else}}
<p>There are no comments here</p>
{{/each}}
  </section>
  <div id="comment-Text-Button">

  <textarea  id="comment-Area" cols="70" rows="4">

  </textarea>
  {{#if isLogged}}
  <a onclick="postComment(event)" href="/comment/{{productId}}">
    <button class="custom-Button">Comment</button>
  </a>
  {{else}}
  <a onclick="navigateHandler(event)" href="/login">
    <button class="custom-Button">Comment</button>
  </a>
  {{/if}}
  </div>
  
</div>

</div>
  </form>

{{>footer}}

